<a href="https://colab.research.google.com/github/davyandr/pet-projects/blob/main/ab/ab-ctr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! gdown 1RPxb4ujDeQR4KGc03ajmTnpai5UFSzag

https://docs.google.com/spreadsheets/d/1RPxb4ujDeQR4KGc03ajmTnpai5UFSzag/edit?usp=sharing&ouid=113106903298233250692&rtpof=true&sd=true \
https://www.kaggle.com/datasets/samtyagi/audacity-ab-testing

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from scipy import stats as ss
import warnings
import statsmodels.api as sm
import statsmodels.stats.api as sms
import statsmodels.formula.api as smf
from tqdm.notebook import tqdm
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
df = pd.read_csv('/content/homepage_actions.xls')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

In [9]:
df['view'] = (df.action == 'view') * 1
df['click'] = (df.action == 'click') * 1

In [11]:
df.head()

                    timestamp      id       group action  view  click
0  2016-09-24 17:42:27.839496  804196  experiment   view     1      0
1  2016-09-24 19:19:03.542569  434745  experiment   view     1      0
2  2016-09-24 19:36:00.944135  507599  experiment   view     1      0
3  2016-09-24 19:59:02.646620  671993     control   view     1      0
4  2016-09-24 20:26:14.466886  536734  experiment   view     1      0

In [12]:
df.groupby('group').agg({'view': 'sum', 'click': 'sum'})

            view  click
group
control     3332    932
experiment  2996    928

In [30]:
df.groupby('group').click.sum() / df.groupby('group').view.sum()

group
control       0.279712
experiment    0.309746
dtype: float64

##CTR

$H_0$ : CTR(control) = CTR(experiment) \
$H_1$ : CTR(control) ≠ CTR(experiment)

In [31]:
from statsmodels.stats.proportion import proportions_ztest

In [32]:
stat, pval = proportions_ztest([df[df['group'] == 'control'].click.sum(), df[df['group'] == 'experiment'].click.sum()], [df[df['group'] == 'control'].view.sum(), df[df['group'] == 'experiment'].view.sum()])

In [33]:
print('Z-test, p_value:', round(pval, 3), ('=>  distributions of samples are not equal' if pval <= 0.05 else '=>  distributions of samples are equal'))

Z-test, p_value: 0.009 =>  distributions of samples are not equal

We reject the $H_0$ and accept $H_1$

## choose experimental version