<a href="https://colab.research.google.com/github/davyandr/pet-projects/blob/main/strava/strava.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! gdown 1pfhCR-gw26Vatw0II5mwgjwl79vHbAIn

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

import warnings



warnings.filterwarnings('ignore')

%matplotlib inline

In [3]:
df = pd.read_csv('/content/activities.csv')
df.head()

,ID физической активности,Дата тренировки,Название тренировки,Тип активности,Описание физической активности,Общее время,Расстояние,Макс. пульс,Относительное усилие,Регулярный маршрут,...,"<span class=""translation_missing"" title=""translation missing: ru-RU.lib.export.portability_exporter.activities.horton_values.total_grit"">Total Grit</span>","<span class=""translation_missing"" title=""translation missing: ru-RU.lib.export.portability_exporter.activities.horton_values.avg_flow"">Avg Flow</span>","<span class=""translation_missing"" title=""translation missing: ru-RU.lib.export.portability_exporter.activities.horton_values.flagged"">Flagged</span>","<span class=""translation_missing"" title=""translation missing: ru-RU.lib.export.portability_exporter.activities.horton_values.avg_elapsed_speed"">Avg Elapsed Speed</span>","<span class=""translation_missing"" title=""translation missing: ru-RU.lib.export.portability_exporter.activities.horton_values.dirt_distance"">Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: ru-RU.lib.export.portability_exporter.activities.horton_values.newly_explored_distance"">Newly Explored Distance</span>","<span class=""translation_missing"" title=""translation missing: ru-RU.lib.export.portability_exporter.activities.horton_values.newly_explored_dirt_distance"">Newly Explored Dirt Distance</span>","<span class=""translation_missing"" title=""translation missing: ru-RU.lib.export.portability_exporter.activities.horton_values.sport_type"">Sport Type</span>","<span class=""translation_missing"" title=""translation missing: ru-RU.lib.export.portability_exporter.activities.horton_values.total_steps"">Total Steps</span>",Медиафайл
0,525486387,"24 мар. 2016 г., 13:34:05",2ой,Велосипед,NaN,7213,"10,31",NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,529981272,"29 мар. 2016 г., 15:14:31",Вечерний велозаезд,Велосипед,NaN,1024,"2,16",NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,536504296,"5 апр. 2016 г., 13:49:45",Послеобеденный велозаезд,Велосипед,NaN,4809,"11,27",NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,media/0edccfa2-17ed-4479-a775-c8e78a0145c4.jpg
3,542974474,"12 апр. 2016 г., 7:33:57",Утренний велозаезд,Велосипед,NaN,9671,"24,50",NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,543967519,"13 апр. 2016 г., 8:45:35",Дневной велозаезд,Велосипед,NaN,4201,"13,08",NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df[['ID физической активности',
 'Дата тренировки',
 'Название тренировки',
 'Тип активности',
 'Общее время',
 'Расстояние',
 'Время в движении',
 'Дистанция',
 'Макс. скорость',
 'Набор высоты',
 'Высота низменности',
 'Высота подъема',
 'Макс. уклон',
 'Средний угол уклона']]

In [5]:
df.columns = ['id',
 'start_date',
 'name',
 'type_activity',
 'total_time',
 'distance_1',
 'time_in_motion',
 'distance',
 'max_speed',
 'alt_gain',
 'min_alt',
 'max_alt',
 'max_slope',
 'avg_slope']

In [6]:
df = df[df.type_activity == 'Велосипед']

In [7]:
df = df.drop(columns=['type_activity'])

In [8]:
df.head()

,id,start_date,name,total_time,distance_1,time_in_motion,distance,max_speed,alt_gain,min_alt,max_alt,max_slope,avg_slope
0,525486387,"24 мар. 2016 г., 13:34:05",2ой,7213,"10,31",4340.0,10310.400391,12.9,153.147003,142.600006,194.300003,20.400000,0.260902
1,529981272,"29 мар. 2016 г., 15:14:31",Вечерний велозаезд,1024,"2,16",920.0,2167.600098,7.0,0.000000,161.000000,171.500000,5.500000,0.023067
2,536504296,"5 апр. 2016 г., 13:49:45",Послеобеденный велозаезд,4809,"11,27",3123.0,11273.299805,12.2,130.087006,147.100006,174.899994,16.900000,0.009758
3,542974474,"12 апр. 2016 г., 7:33:57",Утренний велозаезд,9671,"24,50",6577.0,24506.199219,12.9,198.175003,147.300003,208.399994,11.600000,0.009385
4,543967519,"13 апр. 2016 г., 8:45:35",Дневной велозаезд,4201,"13,08",3574.0,13080.299805,13.4,110.698997,142.600006,175.000000,16.200001,0.024464

In [9]:
df.isna().mean()

id                0.000000
start_date        0.000000
name              0.000000
total_time        0.000000
distance_1        0.000000
time_in_motion    0.000000
distance          0.006329
max_speed         0.000000
alt_gain          0.006329
min_alt           0.000000
max_alt           0.000000
max_slope         0.000000
avg_slope         0.000000
dtype: float64

In [10]:
df.distance_1 = df.distance_1.apply(lambda x: x.replace(',', '.')).astype('float64')

In [11]:
dict_of_month = {'авг.': '08', 'апр.': '04', 'июл.': '07', 'июн.': '06', 'мар.': '03', 'мая': '05', 'окт.': '10', 'сент.': '09'}

In [12]:
def month_to_datetime(date):
  for word, replacement in dict_of_month.items():
    date = date.replace(word, replacement)
  return date

In [13]:
df.start_date = df.start_date.apply(lambda x:x.replace(' г.,', ''))

In [14]:
df.start_date = pd.to_datetime(df.start_date.apply(month_to_datetime), format='%d %m %Y %H:%M:%S')

In [15]:
df.head()

,id,start_date,name,total_time,distance_1,time_in_motion,distance,max_speed,alt_gain,min_alt,max_alt,max_slope,avg_slope
0,525486387,2016-03-24 13:34:05,2ой,7213,10.31,4340.0,10310.400391,12.9,153.147003,142.600006,194.300003,20.400000,0.260902
1,529981272,2016-03-29 15:14:31,Вечерний велозаезд,1024,2.16,920.0,2167.600098,7.0,0.000000,161.000000,171.500000,5.500000,0.023067
2,536504296,2016-04-05 13:49:45,Послеобеденный велозаезд,4809,11.27,3123.0,11273.299805,12.2,130.087006,147.100006,174.899994,16.900000,0.009758
3,542974474,2016-04-12 07:33:57,Утренний велозаезд,9671,24.50,6577.0,24506.199219,12.9,198.175003,147.300003,208.399994,11.600000,0.009385
4,543967519,2016-04-13 08:45:35,Дневной велозаезд,4201,13.08,3574.0,13080.299805,13.4,110.698997,142.600006,175.000000,16.200001,0.024464

`start_date` - начало тренировки\
`name` - название тренировки\
`total_time` - общее время\
`distance_1` - дистанция \
`time_in_motion` - время в движении\
`distance` - дистанция (более точная)\
`max_speed` - максимальная скорость\
`alt_gain` - набор высоты\
`min_alt` - минимальная высота\
`max_alt` - максимальная высота\
`max_slope` - максимальный уклон\
`avg_slope` - средний уклон